Consolidating the usage of "scope" in the authorization request in the Authorization Code Flow

The [openID4VC spec](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-authorization-request) allows the data of the reqsted credential in the authorization request in the authorization code flow be transmitted in two way:

1. Using [authorization details](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-request-issuance-of-a-certa)
2. Using [scope](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-using-scope-parameter-to-re)

Our current approach telling the issuer, that this is an OpenIDIDComm Credential request (meaning, that the wallet is aware of the fact, that it has to establish a DIDComm channel before the credential gets issued) is based on the scope(s). However, in 1. using authorization details there is no scope.

Also we do not have an authorization request in the [pre-authorized code flow](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#name-pre-authorized-code-flow), meaning, that the wallet cannot indicate, that it wants to establish a DIDComm channel with the scope, since no scope is transmitted in the token request.

How do we align with these scenarios?

The openID4VCI spec seems to allowe both, authorization details and scope to be present in the authorization request (see [here](https://openid.net/specs/openid-4-verifiable-credential-issuance-1_0.html#section-5.1.2-12)). But it rather expects, that it is the "scope" of a credential, not something else (like a DIDComm channel). 

But still, this just covers the authorization code flow, not the pre-authorized code flow.

The OID4VC specification is unclear on whether it allows a scope to be included in the pre-auth token request. 

On one hand it requires the request to be ["[...] made as defined in Section 4.1.3 of [RFC6749]"](https://openid.github.io/OpenID4VCI/openid-4-verifiable-credential-issuance-wg-draft.html#name-token-request), which does not include a scope parameter, and does not extend the request with a scope parameter in the [following paragraph](https://openid.github.io/OpenID4VCI/openid-4-verifiable-credential-issuance-wg-draft.html#section-6.1-2).

On the other hand, it implies the possible use of a scope parameter by stating ["If the Token Request contains a scope value related to Credential issuance and the Credential Issuer's metadata contains an authorization_servers parameter, it is RECOMMENDED to use a resource parameter [...]"](https://openid.github.io/OpenID4VCI/openid-4-verifiable-credential-issuance-wg-draft.html#section-6.1-7).

Generally, as per [OAuth2 spec](https://www.rfc-editor.org/rfc/rfc6749#section-3.3), both the authorization and token endpoint support the scope parameter

As @void1042 stated before, the spec is not clear regarding the scope. In our biweekly call, the CTO from Sphereon mentioned that it is *no problem to use the scope parameter in die Token Request if wanted*. 

closed.